<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ch.psi.elogd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/elogd</string>
		<string>-c</string>
		<string>/usr/local/elog/elogd.cfg</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
