<STYLE TYPE="text/css">
<!--
.dummy {}

.title {background-color: #486090;font-family: Verdana, Arial, Helvetica, Sans-Serif;font-size: x-large;color: white;text-align: center;padding: 5px 10px 5px 10px;}

.version {color: #486090;font-family: Verdana, Arial, Helvetica, Sans-Serif;text-align: center;padding: 5px 10px 5px 10px;font-weight: bold;}

.menu {background-color: #486090;font-family: Verdana, Arial, Helvetica, Sans-Serif;font-size: medium;color: white;text-align: center;padding: 5px 10px 5px 10px; }

.Sub {font-family: Verdana, Arial, Helvetica, Sans-Serif;font-size: medium;text-align: 
center;}

.nav {text-decoration: none; color: yellow;}

.section {background-color: #486090;font-family: Verdana, Arial, Helvetica, Sans-Serif;font-size: large;color: white;text-align: left;padding: 5px 10px 5px 10px;}

.footer {background-color: #486090;font-family: Verdana, Arial, Helvetica, Sans-Serif;font-size: small;color: white;text-align: left;padding: 5px 10px 5px 10px;}

P {margin-left: 10px; margin-right: 10px;}

-->
</STYLE>
